/lib/
/classes/
/out/
/release/
/target/
/node_modules/
*.jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/

.nrepl-port
/.cljs_node_repl/
.lsp/
.clj-kondo/
*.sublime-workspace
*.log
.idea
*.orig
/.vscode/

verse-list.json

target/
coverage/
