/lib/
/classes/
/out/
/release/
/target/
/node_modules/
*.jar
*.orig
.lein-deps-sum
.lein-repl-history
.lein-plugins/

.nrepl-port
/.cljs_node_repl/
*.sublime-workspace
*.log
.idea
*.iml

verse-list.json